.DS_Store
.gitconfig

# Halloy
halloy/.config/halloy/config.toml
halloy/.config/halloy/pass
halloy/.config/halloy/targets
halloy/.config/halloy/history
halloy/.config/halloy/*.log
halloy/.config/halloy/*.json